* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("../Images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-style: oblique;
    font-family: cursive, Geneva, Tahoma, sans-serif;
    height: 100%;
}

html {
    font-size: 62.5%;
}

header {
    width: 100%;
    height: 10rem;

}

nav {
    width: 100%;
}

.homeContainer {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto 0rem;
    position: absolute;
}

header a {
    color: aqua;
    text-decoration: none;
    font-size: 3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 5rem;
}

header a:hover {
    color: rgb(78, 78, 243);
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: unset;
}

header .homeLogo img {
    height: 15rem;
}

header .homeLogo {
    margin-top: 1rem;
    margin-left: 4rem;
}

.homeRight {
    padding-top: 3.6rem;
    position: absolute;
    right: 0rem;
    margin-right: 6rem;
}

.homeLeft {
    margin: -1rem 0 0;
}

.hero {
    width: 36rem;
    height: 30rem;
    float: right;
    margin-top: 8.4rem;
    margin-right: 8.4rem;
}

.hero img {
    width: 23rem;
    position: absolute;
    border: .3rem solid aqua;
    border-radius: 10%;
    margin-left: 0rem;
    margin-top: 4.1rem;
}

.heading {
    padding-right: 36rem;
    margin: 20rem auto;
    width: 115rem;
}

.heading h1 {
    font-size: 4rem;
    color: azure;

}

.heading p {
    color: azure;
    margin-top: 0.5rem;
    font-size: 2.1rem;
    line-height: 3.6rem;
    text-align: justify;
}